.forecast-list {
  display: flex;
  grid-gap: 10px;
  overflow: auto;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1672px) {
  .forecast-list {
    justify-content: left;
  }
}
