.mat-mdc-card {
  padding: 10px 25px;
  display: flex;
  align-items: center;
}

.mdc-evolution-chip__cell {
  justify-content: center;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
}

.mat-mdc-chip {
  margin: 5px;
}
