main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #303030;
  color: white;
  max-width: 100vw;
}

app-forecast-list {
  width: 80vw;
}
