.time-of-day {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  -webkit-box-shadow: 5px 12px 20px 5px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 12px 20px 5px rgba(0, 0, 0, 0.32);

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
